.portfolio {
    margin: 10px;
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
}

.portfolio h1 {
    color: #140D4F;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
}

.portfolio a {
    text-decoration: none;
    color: #ACFCD9;
}

.projects {
    display: flex;
}

.projects div {
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
}