.portfolio {
    margin: 10px;
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
}

.portfolio h1 {
    color: #140D4F;
    font-family:Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
}