* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #01BAEF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Media Query for smaller desktop screens and smaller */
@media screen and (max-width: 980px) {
  header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
  }

  header h1 {
      width: 100%;
      text-align: center;
  }

  header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
  }

  header nav ul li a {
      font-size: 20px;
  }
}

/* Media Query for tablets and smaller */
@media screen and (max-width: 768px) {
 section {
     padding: 30px 15px;
 }
}

/* Media Query for mobile phones and smaller */
@media screen and (max-width: 575px) {
 .section-title {
     width: 95%;
 }

 .intro p {
     width: 100%;
 }

 .contact-info {
     text-align: center;
 }

 .contact-info > * {
     flex: 0 100%;
 }
}