.about-me {
    margin: 10px;
}

.about-me h1 {
    color: #140D4F;
    font-family:Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
}

.about-me p {
    font-family:Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
    color: #1C0B19;
}

img {
    margin: 10px;
    padding: 10px;
    border-radius: 20px; 
}