.resume {
    margin: 10px;
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
}

.resume h1 {
    color: #140D4F;
    font-family:Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
}

.resume h2 {
    font-family:Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
    color: #1C0B19;
}

.resume ul {
    font-family:Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
    color: #1C0B19;
    font-size: larger;
    font-weight: bold;
}

.resume ul li {
    font-family:Arial, Helvetica, sans-serif;
    padding: 5px;
    color: #1C0B19;
    font-size: smaller;
    font-weight: normal;
}

.skills {
    display: flex;
}

.resume p {
    margin: 10px;
    padding: 10px;
    color: #1C0B19;
    font-family:Arial, Helvetica, sans-serif;
}

.resume a {
    text-decoration: none;
    color: #1C0B19;
    font-weight: bolder;
}