.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
    background: #FF8360;
    font-family: fantasy;
    font-size: 18px;
    top: 0;

}

.header-title {
    color: #ACFCD9;
    font-weight: bolder;
}

.header-nav {
    display: flex;
    gap: 10px;
}

.header-nav>li {
    list-style-type: none;
    margin: 7px 0;
}

.header-nav>li>a {
    color: #140D4F;
    text-decoration: none;
}

.current-path {
    font-weight: 800 !important;
}