.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}



.header-nav {
    display: flex;
    gap: 10px;
}

.header-nav>li {
    list-style-type: none;
}

.header-nav>li>a {
    text-decoration: none;
}

.current-path {
    font-weight: 800 !important;
    color: var(--testing);
}