.contact-form {
    margin: 10px;
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-form h1 {
    color: #140D4F;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
}

.contact-form div {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
    color: #1C0B19;
}

.contact-form input {
    font-size: 1rem;
    padding: 0.25rem;
    border: 1px solid var(--dark);
    outline: none;
    border-radius: 3px;
    transition: box-shadow 0.2s;
}

.contact-form input:focus {
    border: 1px solid var(--secondary);
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

.contact-form textarea {
    width: 600px;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
}

.contact-form button {
    background: #140D4F;
    border: 0;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin: 20px;
    padding: 10px 15px;
}

.contact-form label {
    font-weight: bolder;
    color: #140D4F;
    width: 100%;
}